/*
角丸
*/

div{
	width: 200px;
	height: 200px;
	background: skyblue url('image/higuma.jpg');
	/*border-radius: 30px/ 15px;*/
	/*borderbottom-right-radius: 30px;*/
	/*border-radius: 10px 20px 30px;*/
	border-radius: 50%;
}